<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/UserLayout}">
<head>
    <style>
        header > .logo > div > form > button {
            position: absolute;
            right: 15px;
            top: 5px;
            background: #fff;
            border: none;
            font-size: 20px;
            color: #ef2a23;
            outline: none;
        }
    </style>
</head>
<section class="search" layout:fragment="content">
    <script>
        window.onload = function (){
            let Top = document.getElementById('top');

            if (Top) {
                Top.style.display = 'none'
                window.addEventListener('scroll', function () {
                    if (window.scrollY > 300) {
                        Top.style.display = 'block';
                        console.log(Top);
                    } else {
                        Top.style.display = 'none';
                    }
                });

                Top.addEventListener('click', function (e) {
                    e.preventDefault();
                    window.scrollTo({top: 0, behavior: 'smooth'});
                    console.log(Top);
                });
            } else {
                console.log("#top 요소를 찾을 수 없습니다.");
            }
        }
    </script>

    <!-- 제목, 페이지 네비게이션 -->
    <nav>
        <h1>상품 검색 결과</h1>
        <p>HOME > <span>상품검색</span> > <strong th:text="${searchKeyword}">검색키워드</strong></p>
    </nav>

    <!-- 검색결과 그룹박스 -->
    <div class="group">
        <h3><strong th:text="${searchKeyword}">셔츠</strong> 검색결과 <em>(총&nbsp;:&nbsp;<span
                th:text="${result.total}">20</span>&nbsp;건)</em></h3>
        <form th:action="@{/product/search}" method="get">
            <input type="text" name="search" th:value="${request.search}" placeholder="검색어를 입력하세요"/>
            <input type="submit" value="검색"/>
            <span>
                <label><input type="checkbox" name="chk" value="pname" checked>상품명</label>
                <label><input type="checkbox" name="chk" value="info">상품설명</label>
                <label><input type="checkbox" name="chk" value="price">상품가격</label>
                <input type="text" name="minPrice" th:value="${request.minPrice}" placeholder="최소 가격"/>원&nbsp;~&nbsp;
                <input type="text" name="maxPrice" th:value="${request.maxPrice}" placeholder="최대 가격"/>원
            </span>
        </form>
        <p class="info">
            상세검색을 선택하지 않거나, 상품가격을 입력하지 않으면 현재 결과내에서 검색합니다.<br>
            검색어는 최대 10글자까지, 여러 개의 검색어를 공백으로 구분하여 입력할 수 있습니다.
        </p>
    </div>

    <!-- 검색목록 -->
    <table border="0">
        <tr th:if="${not #lists.isEmpty(products)} and ${product.deldate == null}" th:each="product : ${products}">
            <td>
                <a th:href="@{/product/view(pno=${product.pno})}" class="thumb">
                    <img th:src="@{|/product/${product.cate}/${product.mainimg}|}" alt="상품이미지">
                </a>
            </td>
            <td>
                <h3 class="name" th:text="${product.pname}">상품명</h3>
                <a th:href="@{/product/view(pno=${product.pno})}" class="desc" th:text="${product.info}">상품설명</a>
            </td>
            <td>
                <ul>
                    <li>
                        <!-- 할인된 가격을 계산하고 콤마 포맷을 적용합니다. -->
                        <ins class="dis-price"
                             th:text="${#numbers.formatInteger((product.price * (1 - product.discount / 100.0)), 3, 'COMMA')}">
                            할인된 가격
                        </ins>
                    </li>
                    <li>
                        <!-- 원래 가격에 콤마 포맷을 적용합니다. -->
                        <del class="org-price" th:text="${#numbers.formatInteger(product.price, 3, 'COMMA') + '원'}">
                            30,000
                        </del>
                        <!-- 할인율 -->
                        <span class="discount" th:text="${product.discount + '%'}">10%</span>
                    </li>
                    <li>
                        <!-- 무료 배송 여부를 표시합니다. -->
                        <span class="free-delivery">무료배송</span>
                    </li>
                </ul>
            </td>
            <td>
                <!-- 회사 (판매자 정보) -->
                <h4 class="seller" th:text="${product.company}"><i class="fas fa-home"></i>판매자</h4>
                <!-- 판매자 등급 및 평점은 데모 데이터이며, 실제 필드가 없습니다. -->
                <h5 class="badge power">판매자등급</h5>
            </td>
        </tr>


        <tr th:if="${not #lists.isEmpty(products)} and ${product.deldate != null}" th:each="product : ${products}" >
            <td>
                <a th:href="@{/product/search(search=${result.search})}" class="thumb">
                    <img th:src="@{|/product/${product.cate}/${product.mainimg}|}" alt="상품이미지">
                </a>
            </td>
            <td>
                <h3 class="name" th:text="${product.pname}">상품명</h3>
                <a th:href="@{/product/search(search=${result.search})}" th:style="${product.deldate != null ? 'color:red':''}" class="desc">삭제된 상품 입니다.</a>
            </td>
            <td>
                <ul>
                    <li>
                        <!-- 할인된 가격을 계산하고 콤마 포맷을 적용합니다. -->
                        <ins class="dis-price"
                             th:text="${#numbers.formatInteger((product.price * (1 - product.discount / 100.0)), 3, 'COMMA')}">
                            할인된 가격
                        </ins>
                    </li>
                    <li>
                        <!-- 원래 가격에 콤마 포맷을 적용합니다. -->
                        <del class="org-price" th:text="${#numbers.formatInteger(product.price, 3, 'COMMA') + '원'}">
                            30,000
                        </del>
                        <!-- 할인율 -->
                        <span class="discount" th:text="${product.discount + '%'}">10%</span>
                    </li>
                    <li>
                        <!-- 무료 배송 여부를 표시합니다. -->
                        <span class="free-delivery">무료배송</span>
                    </li>
                </ul>
            </td>
            <td>
                <!-- 회사 (판매자 정보) -->
                <h4 class="seller" th:text="${product.company}"><i class="fas fa-home"></i>판매자</h4>
                <!-- 판매자 등급 및 평점은 데모 데이터이며, 실제 필드가 없습니다. -->
                <h5 class="badge power">판매자등급</h5>
            </td>
        </tr>




        <tr th:if="${#lists.isEmpty(products)}">
            <td colspan="4">검색 결과가 없습니다.</td>
        </tr>
    </table>

    <!-- 상품목록 페이지번호 -->
    <div class="paging" th:if="${!result.dtoList.isEmpty()}">
        <!-- 이전 페이지 링크 -->
        <span class="prev" th:if="${result.prev}">
      <a th:if="${request.minPrice == null && request.maxPrice == null}"
         th:href="@{/product/search(search=${result.search}, pg=${result.start - 1})}">&lt; 이전</a>
      <a th:if="${request.minPrice != null || request.maxPrice != null}"
         th:href="@{/product/search(search=${result.search}, pg=${result.start - 1}, minPrice=${request.minPrice}, maxPrice=${request.maxPrice})}">&lt; 이전</a>
    </span>

        <!-- 숫자 페이지 링크 -->
        <span class="num" th:each="n : ${#numbers.sequence(result.start, result.end)}">
      <a th:if="${request.minPrice == null && request.maxPrice == null}" th:href="@{/product/search(search=${result.search}, pg=${n})}"
         th:classappend="${result.pg == n} ? 'pageOn' : 'page-link'" th:text="${n}"></a>
      <a th:if="${request.minPrice != null || request.maxPrice != null}"
         th:href="@{/product/search(search=${result.search}, pg=${n}, minPrice=${request.minPrice}, maxPrice=${request.maxPrice})}"
         th:classappend="${result.pg == n} ? 'pageOn' : 'page-link'" th:text="${n}"></a>
  </span>

        <!-- 다음 페이지 링크 -->
        <span class="next" th:if="${result.next}">
    <a th:if="${request.minPrice == null && request.maxPrice == null}"
       th:href="@{/product/search(search=${result.search}, pg=${result.end + 1})}">&lt; 다음</a>
      <a th:if="${request.minPrice != null || request.maxPrice != null}"
         th:href="@{/product/search(search=${result.search}, pg=${result.end + 1}, minPrice=${request.minPrice}, maxPrice=${request.maxPrice})}">&lt; 다음</a>
    </span>
    </div>


</section>
</html>
