<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout}"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>롯데온::관리자 회원목록</title>
    <link th:href="@{/admin/css/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link th:href="@{/admin/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/admin/css/admin.css}" rel="stylesheet">
    <style>
        .page-link {
            background-color: #fff;
        }

        .page-link:hover {
            background-color:#5581ff;
            color: #ffffff;
        }
    </style>

</head>

<main layout:fragment="content">

    <script>
        window.onload = function () {
            const delBtn = document.getElementById('delBtn');
            const selectAllCheckbox = document.getElementsByName('all')[0];
            const checkBoxes = document.getElementsByName('checkbox');


            delBtn.onclick = function(){
                let Checked = false; // 최소한 하나의 체크박스가 선택되었는지 여부를 나타내는 변수
                for (let i = 0; i < checkBoxes.length; i++) {
                    if (checkBoxes[i].checked) {
                        Checked = true;
                        break; // 하나라도 체크되어 있으면 반복문 종료
                    }
                }

                if (!Checked) {
                    alert('삭제할 상품을 선택해주세요.');
                    console.log('check..');
                    return false;
                } else {
                    let confirmed = confirm('정말 삭제하시겠습니까?');
                    if (!confirmed) {
                        return false;
                    }
                }
            };

            selectAllCheckbox.addEventListener('change', function () {
                for (let i = 0; i < checkBoxes.length; i++) {
                    checkBoxes[i].checked = selectAllCheckbox.checked;
                }
            });
        }


    </script>

    <div class="container-fluid" id="userList">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">회원관리</h1>

        <!-- DataTales Example -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold" style="color: #ffffff;">회원목록</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form th:action="@{/admin/user/list}"  method="get">
                        <div id="searchBox">
                            <select name="role" id="searchOption">
                                <option value="user">일반사용자</option>
                                <option value="admin">관리자</option>
                                <option value="seller">판매자</option>
                            </select>
                            <input type="search" class="searchInput" name="keyword" placeholder="아이디를 입력하세요.">
                            <button class="searchBtn">
                                <img th:src="@{/admin/img/search_40.png}" alt="검색">
                            </button>
                        </div>
                    </form>

                    <form id="table" th:action="@{/admin/user/delete}" method="post">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr class="tableTitle">
                                <th>
                                    <input type="checkbox" name="all">
                                </th>
                                <th>번호</th>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>이메일</th>
                                <th>휴대폰</th>
                                <th>등급</th>
                                <th>가입일</th>
                                <th>탈퇴일</th>
                                <th>확인</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user, index:${pageResponseDTO.userList}">
                                <td>
                                    <input name="checkbox" type="checkbox" th:value="${user.uid}">
                                </td>
                                <td>[[${(pageResponseDTO.pg - 1) * 10 + (index.index+1) }]]</td>
                                <td>[[${user.uid}]]</td>
                                <td>[[${user.name}]]</td>
                                <td>[[${user.email}]]</td>
                                <td>[[${user.hp}]]</td>
                                <td>[[${user.role}]]</td>
                                <td th:text="${#temporals.format(user.regDate, 'yyyy-MM-dd')}"></td>
                                <td th:text="${#temporals.format(user.leaveDate, 'yyyy-MM-dd')}" style="color: red;"></td>
                                <td>
                                    <a th:href="@{/admin/user/modify(uid=${user.uid})}">상세보기 및 수정</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <input type="submit" id="delBtn" value="선택삭제">
                        </div>
                    </form>

                    <!--🎈paging-->
                    <nav aria-label="...">
                        <ul class="pagination justify-content-center">

                            <li th:if="${pageResponseDTO.prev}" class="page-item">
                                <a th:if="${pageResponseDTO.keyword == null}" th:class="page-link" th:href="@{/admin/user/list(pg=${pageResponseDTO.start - 1})}">이전</a>
                                <a th:if="${pageResponseDTO.keyword != null}" th:class="page-link" th:href="@{/admin/user/list(pg=${pageResponseDTO.start - 1}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}">이전</a>
                            </li>

                            <li th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}" class="page-item">
                                <a th:if="${pageResponseDTO.keyword == null}" th:class="page-link " th:href="@{/admin/user/list(pg=${num})}">[[${num}]]</a>
                                <a th:if="${pageResponseDTO.keyword != null}" th:class="page-link" th:href="@{/admin/user/list(pg=${num}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}">[[${num}]]</a>
                            </li>

                            <li th:if="${pageResponseDTO.next}" class="page-item">
                                <a th:if="${pageResponseDTO.keyword == null}" th:class="page-link" th:href="@{/admin/user/list(pg=${pageResponseDTO.end + 1})}">다음</a>
                                <a th:if="${pageResponseDTO.keyword != null}" th:class="page-link" th:href="@{/admin/user/list(pg=${pageResponseDTO.end + 1}, type=${pageResponseDTO.type}, keyword=${pageResponseDTO.keyword})}">다음</a>
                            </li>

                        </ul>
                    </nav>

                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->



    <script th:src="@{/admin/css/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/admin/css/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/admin/css/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/admin/js/sb-admin-2.min.js}"></script>
</main>

</html>