<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout}"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>롯데온::관리자 회원수정</title>
    <link th:href="@{/admin/css/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link th:href="@{/admin/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/admin/css/admin.css}" rel="stylesheet">

</head>

<main layout:fragment="content">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/util.js}"></script>
    <script>
        //유효성 검사에 사용할 상태변수
        let isUidOk   = false;
        let isPassOk  = false;
        let isNameOk  = false;
        let isEmailOk = false;
        let isHpOk    = false;

        // 유효성 검사에 사용할 정규표현식
        const reUid   = /^[a-z]+[a-z0-9]{4,19}$/g;
        const rePass  = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{5,16}$/;
        const reName  = /^[가-힣]{2,10}$/
        const reEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
        const reHp    = /^01(?:0|1|[6-9])-(?:\d{4})-\d{4}$/;

        // 폼 유효성 검사
        window.onload = function (){
            const inputUid = document.getElementsByName('uid')[0];
            const spanMsgId = document.getElementsByClassName('msgId')[0];
            const inputPass = document.getElementsByName('pass')[0];
            const inputPass2 = document.getElementsByName('pass2')[0];
            const spanMsgPass = document.getElementsByClassName('msgPass')[0];
            const inputName = document.getElementsByName('name')[0];
            const spanMsgName = document.getElementsByClassName('msgName')[0];
            const inputHp = document.getElementsByName('hp')[0];
            const spanMsgHp = document.getElementsByClassName('msgHp')[0];


            // 아이디 유효성 검사
            inputUid.onkeyup = function (){
                const value = inputUid.value;
                const size = value.length;

                if(size >= 4){
                    if(!value.match(reUid)){
                        spanMsgId.innerText = '아이디 형식이 맞지 않습니다.';
                        spanMsgId.style.color = 'red';
                        isUidOk = false;
                        return;
                    }

                    // 입력한 아이디 서버 전송
                    fetch(`/lotteon/member/checkUid?uid=${value}`)
                        .then(response => response.json())
                        .then(data => {
                            if(data.result > 0){
                                spanMsgId.innerText = '이미 존재하는 아이디 입니다.';
                                spanMsgId.style.color = 'red';
                                isUidOk = false;
                            } else {
                                spanMsgId.innerText = '사용 가능한 아이디 입니다.';
                                spanMsgId.style.color = 'green';
                                isUidOk = true;
                            }
                        });
                }
            };


            // 비밀번호 유효성 검사
            inputPass.onkeyup = function () {
                const pass1 = inputPass.value;

                if (!pass1.match(rePass)) {
                    spanMsgPass.innerText = '비밀번호 형식이 맞지 않습니다.';
                    spanMsgPass.style.color = 'red';
                    isPassOk = false;
                } else {
                    spanMsgPass.innerText = '';
                    isPassOk = true;
                }
            };

            // 비밀번호 확인란 유효성 검사
            inputPass2.onkeyup = function () {
                const pass1 = inputPass.value;
                const pass2 = inputPass2.value;
                const spanMsgPass2 = document.querySelector('.msgPass2');

                if (pass1 !== pass2) {
                    spanMsgPass2.innerText = '비밀번호가 일치하지 않습니다.';
                    spanMsgPass2.style.color = 'red';
                    isPassOk = false;
                } else {
                    spanMsgPass2.innerText = '비밀번호가 일치합니다.';
                    spanMsgPass2.style.color = 'green';
                    isPassOk = true;
                }
            };



            // 이름 유효성 검사
            inputName.onkeyup = function () {
                const value = inputName.value;

                if (!value.match(reName)) {
                    spanMsgName.innerText = '올바른 이름 형식이 아닙니다.';
                    spanMsgName.style.color = 'red';
                    isNameOk = false;
                } else {
                    spanMsgName.innerText = '';
                    isNameOk = true;
                }
            };

            // 이메일 유효성 검사
            const divEmailCode = document.getElementById('divEmailCode');
            const inputEmail = document.getElementById('inputEmail');
            const btn_email = document.getElementById('btn_email');
            const resultEmail = document.getElementById('result_email');

            btn_email.onclick = function () {

                const type = this.dataset.type;

                console.log("type : " + type);

                // 유효성 검사
                if (!inputEmail.value.match(reEmail)) {

                    resultEmail.innerText = '이메일 형식이 맞지 않습니다.';
                    resultEmail.style.color='red';
                    isEmailOk = false;
                    return;
                }

                console.log("fetchData1...1");

                fetch(`/lotteon/member/checkEmail/${inputEmail.value}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if(!data.result){
                            resultEmail.innerText='인증번호가 발송 되었습니다.';
                            resultEmail.style.color='green';
                            isEmailOk = true;
                        }else{
                            resultEmail.innerText='이미 사용중인 이메일 입니다.';
                            resultEmail.style.color = 'red';
                            isEmailOk = false;
                        }
                    });
            }

            // 이메일 인증코드 확인
            const btnCheckEmailCode = document.getElementById('btnCheckEmailCode');
            const inputEmailCode = document.getElementById('inputEmailCode');
            const resultEmailCode = document.getElementById('resultEmailCode');

            btnCheckEmailCode.onclick = async function () {

                fetch(`/lotteon/member/checkEmailCode/${inputEmailCode.value}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);

                        if (!data.result) {
                            resultEmailCode.innerText = '인증코드가 일치하지 않습니다.';
                            resultEmailCode.style.color='red';
                            isEmailOk = false;
                        } else {
                            resultEmailCode.innerText = '이메일이 인증되었습니다.';
                            resultEmailCode.style.color='green';
                            isEmailOk = true;
                        }
                    });
            }

            // 휴대폰 유효성 검사
            inputHp.onkeyup = function () {
                const hp = inputHp.value.trim();

                if (!hp.match(reHp)) {
                    spanMsgHp.innerText = '올바른 휴대폰 번호 형식이 아닙니다.';
                    spanMsgHp.style.color = 'red';
                    isHpOk = false;
                } else {
                    spanMsgHp.innerText = '';
                    isHpOk = true;

                    // 중복 확인
                    fetch(`/lotteon/member/checkHp?hp=${hp}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.result > 0) {
                                spanMsgHp.innerText = '이미 사용 중인 휴대폰 번호입니다.';
                                spanMsgHp.style.color = 'red';
                                isHpOk = false;
                            } else {
                                spanMsgHp.innerText = '사용 가능한 휴대폰 번호입니다.';
                                spanMsgHp.style.color = 'green';
                                isHpOk = true;
                            }
                        });
                }
            };

            // 우편번호 주소검색
            // 다음 우편번호 API 스크립트 상단 추가, postcode 함수 util.js 파일 추가
            const inputZip = document.getElementById('findZip');
            inputZip.onclick = function (){
                //alert('click!!!');
                postcode();
            }


            // 최종 폼 전송
            document.formModify.onsubmit = function () {

                if (!isPassOk) {
                    alert('비밀번호를 다시 확인하시기 바랍니다.');
                    return false;
                }

                if (!isNameOk) {
                    alert('이름을 다시 확인하시기 바랍니다.');
                    return false;
                }

                if (!isEmailOk) {
                    alert('이메일을 다시 확인하시기 바랍니다.');
                    return false;
                }

                if (!isHpOk) {
                    alert('휴대폰 번호를 다시 확인하시기 바랍니다.');
                    return false;
                }

                return true; // 폼 전송
            }

        }
    </script>



    <div id="userModify">
        <form th:action="@{/admin/user/modify}" name="formModify" method="post">
            <div>
                <h4>회원수정</h4>
                <section>
                    <table>
                        <tr>
                            <th>아이디</th>
                            <td>
                                <input th:value="${user.uid}" type="text" class="uid" name="uid" readonly/>
                            </td>
                        </tr>
                        <tr>
                            <th>비밀번호</th>
                            <td class="pass">
                                <input type="password" name="pass" required/>
                                <span class="msgPass">영문, 숫자, 특수문자를 조합하여 8~12자까지 설정해 주세요.</span>
                            </td>
                        </tr>
                        <tr>
                            <th>비밀번호확인</th>
                            <td>
                                <input type="password" name="pass2" id="pass2" placeholder="비밀번호를 확인" required/>
                                <span class="msgPass2"></span>
                            </td>
                        </tr>

                    </table>
                </section>
                <section>
                    <table>
                        <tr>
                            <th>이름</th>
                            <td>
                                <input th:value="${user.name}" type="text" name="name" placeholder="이름을 입력" required/>
                                <span class="msgName"></span>
                            </td>

                        </tr>
                        <tr th:if="${user.gender != null}">
                            <th>성별</th>
                            <td>
                                <label >
                                    <input class="gender" type="text" name="gender" th:value="${user.gender}" readonly>
                                </label>
                            </td>
                        </tr>
                        <tr th:if="${user.gender == null}">
                            <th>성별</th>
                            <td>
                                <label >
                                    <input class="gender" type="text" name="gender" th:value="${''}">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>EMAIL</th>
                            <td><input id="inputEmail" type="email" name="email" th:value="${user.email}"
                                       required/>
                                <button class="btnSubmit" type="button" id="btn_email" data-type="email"><span>이메일 인증</span></button>
                                <span id="result_email"></span>

                                <div id="divEmailCode">
                                    <input  id="inputEmailCode" name="code" type="text" placeholder="이메일 인증코드 입력"/>
                                    <button type="button" class="btnSubmit" id="btnCheckEmailCode"
                                            data-type="email">
                                        <span class="" role="status">인증코드 확인</span>
                                    </button>
                                    <div id="resultEmailCode" class="d-block"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>휴대폰</th>
                            <td>
                                <input th:value="${user.hp}" type="text" name="hp" id="hp" maxlength="13" placeholder="휴대폰번호 입력" required/>
                                <span class="msgHp"> - 포함 13자리를 입력하세요.</span>
                            </td>
                        </tr>

                        <tr class="addr">
                            <th>주소</th>
                            <td class="address">
                                <div>
                                    <input th:value="${user.zip}" type="text" name="zip" id="inputZip"  readonly/>
                                    <button type="button" id="findZip">우편번호 찾기</button>
                                </div>

                                <div>
                                    <input th:value="${user.addr1}" type="text" name="addr1" id="addr1" size="50" placeholder="주소를 검색하세요." readonly/>
                                </div>
                                <div>
                                    <input th:value="${user.addr2}" type="text" name="addr2" id="addr2" size="50" placeholder="상세주소를 입력하세요."/>
                                </div>
                            </td>
                        </tr>
                        <tr class="role">
                            <th>사용자 등급</th>
                            <td>
                                <select th:value="${user.role}" name="role" id="role">
                                    <option value="USER" th:selected="${user.role == 'user'}">USER</option>
                                    <option value="SELLER"  th:selected="${user.role == 'seller'}">SELLER</option>
                                    <option value="ADMIN"  th:selected="${user.role == 'admin'}">ADMIN</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="regDate">
                            <th>가입일</th>
                            <td>
                                <input th:value="${user.regDate}" type="text" name="regDate" id="regDate" readonly/>
                            </td>
                        </tr>
                        <tr th:if="${user.leaveDate != null}">
                            <th>탈퇴일</th>
                            <td>
                                <input  th:value="${user.leaveDate}" type="text" name="leaveDate" class="leaveDate" style="color: red;" readonly>
                            </td>
                        </tr>
                        <tr th:if="${user.leaveDate == null}">
                            <th>탈퇴일</th>
                            <td>
                                <input th:value="${''}" type="text" name="leaveDate" class="leaveDate" readonly>
                            </td>
                        </tr>
                    </table>
                </section>
                <div id="modifyBtn">
                    <input type="submit" class="modifyBtn" value="수정완료" th:href="@{/admin/user/list}"/>
                </div>
                <a th:href="@{/admin/user/list}" class="cancelBtn">취소</a>
            </div>

        </form>

    </div>


    <script th:src="@{/admin/css/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/admin/css/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/admin/css/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/admin/js/sb-admin-2.min.js}"></script>
</main>

</html>