<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/myLayout}">

<div class="point" layout:fragment="content">
    <ul>
        <span class="menu_else"></span>
        <li><a th:href="@{/mypage/order}">전체주문내역</a></li>
        <li><a th:href="@{/mypage/point}">포인트내역</a></li>
        <li><a th:href="@{/mypage/review}">나의리뷰</a></li>
        <li><a th:href="@{/mypage/qna}">문의하기</a></li>
        <li>
            <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                <th:block th:if="${#authentication.principal.user.role == 'USER'}">
                    <a th:href="@{/mypage/infoAccessCheck}">나의설정</a>
                </th:block>
                <th:block th:if="${#authentication.principal.user.role == 'ADMIN'}">
                    <a th:href="@{/mypage/infoAccessCheck}">나의설정</a>
                </th:block>
                <th:block th:if="${#authentication.principal.user.role == 'SELLER'}">
                    <a th:href="@{/mypage/infoAccessCheckSeller}">나의설정</a>
                </th:block>
            </th:block>
        </li>
    </ul>

    <section>
        <a th:href="@{/}" class="banner" th:each="banner:${banners}" th:if="${banner.blocation.equals('MY1')} and ${banner.bmanage == 1}">
            <img th:src="@{|/uploads/banner/${banner.bfile}|}">
        </a>
        <article>
            <h3>포인트내역</h3>

            <table border="0">
                <tr>
                    <th>날짜</th>
                    <th>주문번호</th>
                    <th>적립금액</th>
                    <th>비고</th>
                    <th>유효기간</th>
                </tr>
                <tr th:each="po:${point}">
                    <td class="date">[[${po.odate}]]</td>
                    <td class="ordNo">[[${po.ono}]]</td>
                    <td class="point">[[${po.savepoint}]]</td>
                    <td class="desc">상품 구매확정</td>
                    <td class="expire" th:text="${po.getOdate().plusYears(1)}"></td>
                </tr>

            </table>

        </article>
    </section>
</div>
</html>