<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>lotteCompany::culture</title>
    <link th:href="@{/css/company.css}" rel="stylesheet">

</head>
<body>
    <div id="wrapper" class="culture">
        <!--🎈header-->
        <header>
            <div class="logo">
                <a th:href="@{/}">
                    <img th:src="@{/images/company/company_index_logo.png}" alt="logo">
                </a>
            </div>
            <div class="gnb">
                <ul>
                    <li>
                        <a th:href="@{/company}">HOME</a>
                    </li>
                    <li>
                        <a th:href="@{/company/culture}">기업문화</a>
                    </li>
                    <li>
                        <a th:href="@{/company/blog}">소식과 이야기</a>
                    </li>
                    <li>
                        <a th:href="@{/company/jobPosting}">채용</a>
                    </li>
                    <li>
                        <a th:href="@{/company/media}">미디어</a>
                    </li>
                </ul>
            </div>
        </header>

        <!--🎈main-->
        <main>
            <section id="main_visual">
                <img th:src="@{/images/company/cculture_main.jpg}" alt="메인이미지">
                <div class="textBox">
                    <p class="mainText">대기업의 안정성과 스타트업의 혁신성을 함께,<br>
                        롯데ON에서 우리는 성장하고 있어요.
                    </p>
                </div>
            </section>

            <section id="cont1">
                <p>
                    롯데ON은 안정성 있게, 혁신성 있게 우리의 문화를 만들어가고 있어요.<br>
                    구성원들은 수평적이고 자율적인 문화 속에서<br>
                    개선을 넘어서 혁신적인 롯데ON만의 서비스를 만들어요.<br>
                    그렇게 굵은 점을 찍어가며, 우리는 롯데ON과 함께 성장하고 있어요.
                </p>
            </section>

            <section id="cont2">
                <div class="cont2_title">
                    <h2>대기업 속의 스타트업, 롯데ON은 이렇게 일해요!</h2>
                </div>
                <div class="cont2_content">
                    <div class="cont2 item item1">
                        <div>
                            <img th:src="@{/images/company/cculture1_1.png}" alt="스스로 책임지고 자율적으로 일해요">
                        </div>
                        <div class="textBox">
                            <h4>스스로 책임지고 자율적으로 일해요</h4>
                            <p>“어른답게” 서로를 어른으로 대하고 배려하는 것이 중요해요.<br>
                                스스로 판단하고 자율적으로 행동할 수 있기 때문에<br>
                                더 높은 효율을 만들어나가며 일을 할 수 있어요.
                            </p>
                        </div>
                    </div><!--🎨cont2_item1 end-->
                    <div class="cont2 item item2">
                        <div>
                            <img th:src="@{/images/company/cculture1_2.png}" alt="목표와 방향을 생각하며 나아가요">
                        </div>
                        <div class="textBox">
                            <h4>목표와 방향을 생각하며 나아가요.</h4>
                            <p>“혁신적으로” 일의 목적을 충분히 생각하는 것으로부터<br>
                                우리의 아이디어는 시작되고,높은 목표는 혁신적인 방향을<br>
                                만들어 낼 수 있다고 믿어요. 그 과정에서 우리가 더 잘할 수<br>
                                있는 것이 무엇인지 항상 고민해요.
                            </p>
                        </div>
                    </div><!--🎨cont2_item2 end-->
                    <div class="cont2 item item3">
                            <div>
                                <img th:src="@{/images/company/cculture1_3.webp}" alt="함께하면 할 수 있다고 믿어요">
                            </div>
                            <div class="textBox">
                                <h4>함께하면 할 수 있다고 믿어요. </h4>
                                <p>“원팀으로” 롯데ON의 뛰어난 동료들과 서로 의지하며<br>
                                    여러 팀이 함께 집중해서 시너지를 만들어내요.<br>
                                    서비스를 더 좋은 방향으로 만들어가기 위해<br>
                                    소통과 협업을 중요하게 생각해요.
                                </p>
                            </div>
                    </div><!--🎨cont2_item3 end-->
                </div>
            </section><!--🎨#cont2 end-->

            <section id="cont3">
                <div class="title">
                    <h2>우리의 문화와 제도는 구성원들의<br>
                        성장과 몰입을 위해 존재해요.</h2>
                </div>
                <div class="cont3_content">
                    <div class="item">
                        <div class="top top1">
                            <div>
                                <img th:src="@{/images/company/cculture_icon1.png}" alt="수평적인문화">
                                <h4>수평적인 문화</h4>
                            </div>
                            <p>
                                수평적인 의사소통을 위해 님 호칭을 사용하며,<br>
                                서로의 의견도, 인격도 존중되는 소통 문화를 만들어가요.<br>
                                역할 중심의 Career Level,<br>
                                모든 정보의 공유와 소통으로<br>
                                수평적인 문화를 지속해나가요.
                            </p>
                        </div>
                        <div class="top top2">
                            <div>
                                <img th:src="@{/images/company/cculture_icon2.png}" alt="자율적인 근무환경">
                                <h4>자율적인 근무환경</h4>
                            </div>
                            <p>
                                원하는 자리에 앉는 스마트 오피스,<br>
                                정해진 출퇴근 시간 없이<br>
                                자율적으로 근무하는<br>
                                유연근로제로 효율적인 업무를 위한<br>
                                구성원의 자율을 존중해요.
                            </p>
                        </div>
                        <div class="bottom bottom1">
                            <div>
                                <img th:src="@{/images/company/cculture_icon3.png}" alt="함께 누리는 복지제도">
                                <h4>함께 누리는 복지제도</h4>
                            </div>
                            <p>
                                선택적 복리후생 제도를 통해<br>
                                개인이 원하는 복리후생 항목을 선택하여 사용해요.<br>
                                리프레시 안식휴가, 사랑스러운 아이를 위한<br>
                                육아휴직 등 다양한 복지 제도로<br>
                                구성원들의 행복한 일터와 가정을 책임져요.
                            </p>
                        </div>
                        <div class="bottom bottom2">
                            <div>
                                <img th:src="@{/images/company/cculture_icon4.png}" alt="자기계발을 통한 성장">
                                <h4>자기계발을 통한 성장</h4>
                            </div>
                            <p>
                                직무에서의 성장을 위해 스스로 노력하는<br>
                                구성원들을 위해 외부 교육과 자격증 비용을 지원하고,<br>
                                교육 사이트를 통한 온라인 강의 및<br>
                                다양한 사내 교육도 함께 진행돼요.<br>
                                구성원의 성장이 곧 롯데ON의 성장이라고 믿어요.
                            </p>
                        </div><!--🎨bottom_item end-->
                    </div><!--🎨item end--->
                </div>
            </section>
            <section id="cont4">
                <a th:href="@{#}">
                    <img th:src="@{/images/company/cculture_banner.png}" alt="기업문화 배너">
                </a>
            </section>

        </main>

        <!--🎈footer-->
        <footer>
            <div class="footerBox">
                <div class="footerTop">
                    <ul>
                        <li><a th:href="@{/}">HOME</a></li>
                        <li><a th:href="@{/company/culture}">기업문화</a></li>
                        <li><a th:href="@{/company/blog}">소식과 이야기</a></li>
                        <li><a th:href="@{/company/jobPosting}">채용</a></li>
                        <li><a th:href="@{/company/media}">미디어</a></li>
                    </ul>
                    <p>peoplevalue@lotte.net</p>
                </div>
                <div class="footerSns">
                    <a th:href="@{#}"><img th:src="@{/images/company/facebook_50.png}" alt="페이스북"></a>
                    <a th:href="@{#}"><img th:src="@{/images/company/discord_50.png}" alt="디스코드"></a>
                    <a th:href="@{#}"><img th:src="@{/images/company/instagram_50.png}" alt="인스타"></a>
                    <a th:href="@{#}"><img th:src="@{/images/company/twitterx_50.png}" alt="트위터x"></a>
                </div>
                <div class="footerBottom">
                    <p>© 2022 All rights Reserved</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>