<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>롯데ON::2조</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}"></script>
    <script th:src="@{https://kit.fontawesome.com/20962f3e4b.js}" crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js}"></script>
    <link rel="stylesheet" th:href="@{https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/cs.css}"/>
</head>
    <body>
        <div id="wrapper">
            <header>
                <div class="top">
                    <div>
                        <a sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
                        <a sec:authorize="isAnonymous()" th:href="@{/member/join}">회원가입</a>
                        <a sec:authorize="isAnonymous()" th:href="@{/member/login}">마이페이지</a>
                        <a sec:authorize="isAnonymous()" th:href="@{/member/login}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>

                        <a sec:authorize="isAuthenticated()" th:href="@{/mypage/}">[[${#authentication.principal.user.name}]]</a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/product/cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>장바구니</a>
                        <a sec:authorize="isAuthenticated()" th:if="${#authentication.principal.user.role} == 'ADMIN'" th:href="@{/admin/index}">관리자</a>
                        <a sec:authorize="isAuthenticated()" th:if="${#authentication.principal.user.role} == 'SELLER'" th:href="@{/seller}">판매자</a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
                    </div>
                </div>
                <div class="logo">
                    <div>
                        <a th:href="@{/cs/index}"><img th:src="@{/images/header_logo.png}" alt="로고" />고객센터</a>
                    </div>
                </div>
            </header>

            <div layout:fragment="content">

            </div>

            <th:block th:replace="/layout/footer :: footerFragment"></th:block>
        </div>
    </body>
</html>