<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{/layout/csLayout.html}">

  <div layout:fragment="content">

      <section id="cs">
        <div class="notice">
          <nav>
            <div>
              <p>홈<span>></span>공지사항</p>
            </div>
          </nav>
          <section class="list">

            <aside>
              <h2>공지사항</h2>
              <input type="hidden" th:value="${cate1}">
              <ul>
                <li th:class="${cate1 == null or cate1 == '' ? 'on' : ''}">
                  <a th:href="@{/cs/notice/list}">전체</a>
                </li>
                <li th:class="${cate1 == '10' ? 'on' : ''}">
                  <a th:href="@{/cs/notice/list(cate1=10)}">고객서비스</a>
                </li>
                <li th:class="${cate1 == '11' ? 'on' : ''}">
                  <a th:href="@{/cs/notice/list(cate1=11)}">안전거래</a>
                </li>
                <li th:class="${cate1 == '12' ? 'on' : ''}">
                  <a th:href="@{/cs/notice/list(cate1=12)}">위해상품</a>
                </li>
                <li th:class="${cate1 == '13' ? 'on' : ''}">
                  <a th:href="@{/cs/notice/list(cate1=13)}">이벤트당첨</a>
                </li>
              </ul>
            </aside>

            <article>
              <nav>
                <h1 th:switch="${cate1}">
                  <h1 th:case="10">고객서비스</h1>
                  <h1 th:case="11">안전거래</h1>
                  <h1 th:case="12">위해상품</h1>
                  <h1 th:case="13">이벤트당첨</h1>
                  <h1 th:case="*">전체 공지사항</h1>
                </h1>
                <h2>공지사항 내용입니다.</h2>
              </nav>

              <table>
                <tr th:each = "noticeDTOS:${noticeDTOS}">
                  <td><a th:href="@{/cs/notice/view(noticeno=${noticeDTOS.noticeno})}" class="title"
                         th:text="'[' + ${noticeDTOS.c2name} + ']' + ${noticeDTOS.title}"></a></td>
                  <td th:text="${#temporals.format(noticeDTOS.rdate, 'yy-MM-dd')}"></td>
                </tr>
              </table>

              <div class="page">
                <th:block th:if="${pageGroupStart > 1}">
                  <a th:href="@{/cs/notice/list(pg=${pageGroupStart - 1})}" class="prev">이전</a>
                </th:block>

                <th:block th:each="num:${#numbers.sequence(pageGroupStart, pageGroupEnd)}">
                  <a th:href="@{/cs/notice/list(pg=${num}, cate1=${cate1})}" th:classappend="${num == currentPage} ? 'current num' : 'num'">[[${num}]]</a>
                </th:block>

                <th:block th:if="${pageGroupEnd < lastPageNum}">
                  <a th:href="@{/cs/notice/list(pg=${pageGroupEnd + 1})}" class="next">다음</a>
                </th:block>
              </div>
              <input type="hidden" th:value="${pageGroupStart}">
              <input type="hidden" th:value="${pageGroupEnd}">
              <input type="hidden" th:value="${pageStartNum}">
            </article>

          </section>
        </div>
      </section>

    </div>
</html>
