<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/MemberLayout}">

    <main id="member" layout:fragment="content">
        <div class="find">
            <nav>
                <h1>아이디 찾기</h1>
            </nav>
            <form id="formFindId" th:action="@{/member/findIdResult}" method="POST">
                <table>
                    <tr>
                        <th>이름</th>
                        <td>[[${userDTO.name}]]</td>
                    </tr>
                    <tr>
                        <th>아이디</th>
                        <td>[[${userDTO.uid}]]</td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td>[[${userDTO.email}]]</td>
                    </tr>
                    <tr>
                        <th>가입일</th>
                        <td th:text="${#temporals.format(userDTO.regDate, 'yyyy-MM-dd')}"></td>
                    </tr>
                </table>
                <p>
                    고객님의 정보와 일치하는 아이디입니다.
                </p>
                <div class="btnResultArea">
                    <a th:href="@{/member/login}" class="btnAreaCancel">로그인하기</a>
                    <a th:href="@{/member/findPassword}" class="btnAreaNext">비밀번호 찾기</a>
                </div>
            </form>
        </div>
    </main>
</html>