<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/MemberLayout}">
    <main id="member" layout:fragment="content">
        <script th:src="@{/js/findPw.js}"></script>
        <div class="find">
            <nav>
                <h1>비밀번호 찾기</h1>
            </nav>
            <form name="formFindPw" id="formFind" th:action="@{/member/findPasswordChange}" method="POST">
                <table>
                    <tr>
                        <th>아이디</th>
                        <td>
                            <input type="text" name="uid" id="input" placeholder="아이디 입력"/>
                            <span class="msgId">영문, 숫자로 4~12자까지 설정해 주세요.</span>
                        </td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td>
                            <div>
                                <input type="email" id="inputEmail" name="email" placeholder="이메일 입력"/>
                                <button type="button" id="btnEmailCode" class="btnAuth" data-type="findIdEmail">인증번호 받기</button>
                                <span id="resultEmail"></span>
                            </div>
                            <div id="auth" class="auth">
                                <input type="text" name="auth" id="inputEmailCode" placeholder="인증번호 입력" />
                                <button type="button" id="btnEmailAuth" class="btnConfirm">확인</button>
                                <span id="resultEmailCode"></span>
                            </div>
                        </td>
                    </tr>
                </table>
                <p>
                    비밀번호를 분실한 아이디와 이메일을 입력해 주세요.<br>
                    회원가입한 이메일 주소와 입력한 이메일 주소가 동일해야 인증번호를 받을 수 있습니다.<br>
                    인증번호를 입력 후 확인 버튼을 눌러주세요.
                </p>
                <div class="btnArea">
                    <a th:href="@{/member/login}" class="btnAreaCancel">취소</a>
                    <a th:href="@{/member/findPasswordChange}" id="btnAreaNext" class="btnAreaNext">다음</a>
                </div>
            </form>
        </div>
    </main>
</html>