<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/MemberLayout}">
    <main id="member" layout:fragment="content">
        <script th:src="@{/js/changePw.js}"></script>
        <div class="find">
            <nav>
                <h1>비밀번호 변경</h1>
            </nav>
            <form id="formFindPassChange" name="formFindPassChange" th:action="@{/member/findPasswordChange}" method="POST">
                <input type="hidden" id="inputUid" name="uid" th:value="${userDTO.uid}"/>
                <table>
                    <tr>
                        <th>아이디</th>
                        <td>[[${userDTO.getUid()}]]</td>
                    </tr>
                    <tr>
                        <th>새 비밀번호</th>
                        <td>
                            <input type="password" class="inputPass" name="pass" id="inputPass1" placeholder="새 비밀번호 입력"/>
                        </td>
                    </tr>
                    <tr>
                        <th>새 비밀번호 확인</th>
                        <td>
                            <input type="password" class="inputPass" name="pass2" id="inputPass2" placeholder="새 비밀번호 입력 확인"/>
                            <span id="resultPass"></span>
                        </td>
                    </tr>
                </table>
                <p>
                    비밀번호를 변경해 주세요.<br>
                    영문, 숫자, 특수문자를 사용하여 8자 이상 입력해 주세요.
                </p>
                <div class="btnResultArea">
                    <a th:href="@{/member/login}" class="btnAreaCancel">취소</a>
                    <input type="submit" class="btnAreaNext" id="btnPassChange" value="변경"/>
                </div>
            </form>
        </div>
    </main>
</html>