<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/MemberLayout}">

<main class="content" id="member" layout:fragment="content">

	<div class="signup">
		<nav>
			<h1>약관동의</h1>
		</nav>
		<form id="termsForm" th:action="@{/member/terms}" method="POST">
			<input type="hidden" name="type" th:value="${type}" />
			<section>
				<h3><span class="essential">(필수)</span>사이트 이용약관</h3>


				<textarea th:if="${type == 'buyer'}" class="terms" readonly th:text="${termsResult.buyerterms}"></textarea>
				<textarea th:if="${type == 'seller'}" class="terms" readonly th:text="${termsResult.sellerterms}"></textarea>
				<label><input type="checkbox" id="agree1" name="agree1" value="true"/>동의합니다.</label>

				<h3><span class="essential">(필수)</span>전자금융거래 이용약관</h3>
				<textarea class="financial" readonly th:text="${termsResult.transaction}"></textarea>
				<label><input type="checkbox" id="agree2" name="agree2" value="true"/>동의합니다.</label>

				<h3><span class="essential">(필수)</span>개인정보 수집동의</h3>
				<textarea class="privacy" readonly th:text="${termsResult.privacy}"></textarea>
				<label><input type="checkbox" id="agree3" name="agree3" value="true"/>동의합니다.</label>
			</section>

			<section th:if="${type == 'buyer'}">
				<h3><span class="optional">(선택)</span>위치정보 이용약관</h3>
				<textarea class="location" readonly th:text="${termsResult.location}"></textarea>
				<label><input type="checkbox" id="agree4" name="agree4" value="true"/>동의합니다.</label>
			</section>

			<div>

				<input type="submit" class="agree" id="agreeButton" value="동의하기"/>
			</div>
		</form>
	</div>

	<script>
		document.getElementById('agreeButton').onclick = function() {

			const agreeTerms1 = document.getElementById('agree1');
			const agreeTerms2 = document.getElementById('agree2');
			const agreeTerms3 = document.getElementById('agree3');

			if (!agreeTerms1.checked || !agreeTerms2.checked || !agreeTerms3.checked) {
				alert('모든 필수 약관에 동의해야 가입할 수 있습니다.');
				return false; // 폼 전송 취소
			}

		}
	</script>

</main>
</html>
