<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/sellerLayout}"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>롯데온::관리자 주문목록</title>
    <link th:href="@{/seller/css/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link th:href="@{/seller/css/sb-admin-2.min.css}" rel="stylesheet">
    <style>
        .text {
            width: 80%;
            display: flex;
            justify-content: space-between;
        }

        .text .text1 {
            margin-left: 25px;
        }

        .text p {
            margin-bottom: 5px;
        }
        .text .text1, .text2 p {
            margin-bottom: 5px;
        }

        button.accordion-button.collapsed {
            border: 1px solid #b0b0b0b5;
            border-bottom: none;
        }



        .accordion-flush>.accordion-item:last-child {
            border-bottom: 1px solid #b0b0b0b5;
        }

        .accordion {

            --bs-accordion-btn-focus-box-shadow: inherit;
            --bs-accordion-active-bg: inherit;
        }

        .innerText {
            display: flex;
            padding: 16px;
            background-color: #cfe2ff;
        }

        .innerText .itemImg {
            margin-right: 20px;
        }

        .accordion-button:not(.collapsed) {
            border: 4px solid #cfe2ff;
        }
    </style>

</head>

<main layout:fragment="content">

    <div id="productList" class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">주문현황</h1>
        <p class="mb-4"></p>

        <!-- DataTales Example -->
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0" style="color: #ffffff">주문 목록</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">

                    <form th:action="@{/seller/order/list}" method="get">
                        <div id="searchBox">
                            <select name="type" id="searchOption">
                                <option value="pname">상품명</option>
                                <option value="uid">구매자</option>
                            </select>
                            <input type="search" class="searchInput" name="keyword" placeholder="검색어를 입력하세요.">
                            <button class="searchBtn">
                                <img th:src="@{/seller/img/search_40.png}" alt="검색">
                            </button>
                        </div><!--검색박스 end-->
                    </form>

                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item" th:each="order:${orders.anyList}">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" data-bs-toggle="collapse" th:data-bs-target="'#'+${order.ono}" aria-expanded="false" th:aria-controls="'#'+${order.ono}">
                                    <div>
                                        <img width="75px" height="75px" th:src="@{|/product/${order.cate}/${order.mainimg}|}" alt="상품이미지">
                                    </div>
                                    <div class="text">
                                        <div class="text1">
                                            주문번호 : [[${order.ono}]]<br>
                                            내 용  : [[${order.pname}]] <strong th:if="${order.count - 1 > 0}">외 [[${order.count - 1}]]개</strong>
                                        </div>
                                        <div class="text2">
                                            구매자 : [[${order.uid}]]<br>
                                            결제 금액 : [[${order.total}]]<br>
                                            결제 날짜 : [[${order.odate}]]
                                        </div>
                                    </div>

                                </button>
                            </h2>
                            <div th:id="${order.ono}" th:each="product:${products.anyList}" th:if="${product.ono} == ${order.ono}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="innerText">
                                    <div class="itemImg" style="display: block">
                                        <img width="75px" height="75px" th:src="@{|/product/${product.cate}/${product.mainimg}|}" alt="상품이미지">
                                    </div>
                                    <div>
                                        <p style="display: block">
                                            상품 번호 : [[${product.pno}]]&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            상품 이름 : [[${product.pname}]]&nbsp; &nbsp;
                                            판매 회사 : [[${product.company}]]
                                        </p>
                                        <p style="display: block">
                                            선택 옵션 : [[${product.options}]]&nbsp; &nbsp;&nbsp;
                                            구매 수량 : [[${product.pcount}]]&nbsp; &nbsp;
                                            구매 가격 : [[${product.price}]]

                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--paging-->
            <!--paging-->
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item">
                        <a th:if="${orders.pg} > 1 and ${orders.keyword} == null"
                           th:href="@{/seller/order/list(pg=${orders.pg - 1})}"
                           th:class="page-link">이전</a>
                        <a th:if="${orders.pg} > 1 and ${orders.keyword} != null"
                           th:href="@{/seller/order/list(pg=${orders.pg - 1},type=${orders.type},keyword=${orders.keyword})}"
                           th:class="page-link">이전</a>
                    </li>
                    <li th:class="${i == orders.pg ? 'page-item active' : 'page-item'}" th:each="i : ${#numbers.sequence(1, orders.totalPage)}">
                        <a th:if="${orders.keyword} == null"
                           th:href="@{/seller/order/list(pg=${i})}"
                           class="page-link">[[${i}]]</a>
                        <a th:if="${orders.keyword} != null"
                           th:href="@{/seller/order/list(pg=${i},type=${orders.type},keyword=${orders.keyword})}"
                           class="page-link">[[${i}]]</a>
                    </li>
                    <li class="page-item">
                        <a th:if="${orders.pg} < ${orders.totalPage} and ${orders.keyword} == null"
                           th:href="@{/seller/product/list(pg=${orders.pg + 1})}"
                           th:class="page-link">다음</a>
                        <a th:if="${orders.pg} < ${orders.totalPage} and ${orders.keyword} != null"
                           th:href="@{/seller/product/list(pg=${orders.pg + 1},type=${orders.type},keyword=${orders.keyword})}"
                           th:class="page-link">다음</a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>


    <script th:src="@{/seller/css/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/seller/css/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/seller/css/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/seller/js/sb-admin-2.min.js}"></script>
</main>

</html>
