@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

button.accordion-button.collapsed {
    border: 1px solid #b0b0b0b5;
    border-bottom: none;
}

.accordion-flush>.accordion-item:last-child {
    border: 1px solid #b0b0b0b5;
}