<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/UserLayout}">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-HQW2HX38VH"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'G-HQW2HX38VH');


            window.onload = function () {
                let Top = document.getElementById('top');

                if (Top) {
                    Top.style.display = 'none'
                    window.addEventListener('scroll', function () {
                        if (window.scrollY > 300) {
                            Top.style.display = 'block';
                            console.log(Top);
                        } else {
                            Top.style.display = 'none';
                        }
                    });

                    Top.addEventListener('click', function (e) {
                        e.preventDefault();
                        window.scrollTo({top: 0, behavior: 'smooth'});
                        console.log(Top);
                     });
                } else {
                    console.log("#top 요소를 찾을 수 없습니다.");
                }
            }

        </script>
        <meta charset="UTF-8"/>
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
        <link rel="stylesheet"
              href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"/>
        <link rel="stylesheet" href="./css/common.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
        <script th:src="@{/js/index.js}"></script>
        <style>
            header > .logo > div > form > button {
                top: 5px;
            }
        </style>

        <script>
            (function() {
                'use strict';

                var color = {
                    red: "color:#d83128;font-size:16px;",
                    orange: "color:#ea991b;font-size:16px;",
                    yellow: "color:#f8df23;font-size:16px;",
                    green: "color:#93ba2f;font-size:16px;",
                    blue: "color:#4da4e0;font-size:16px;",
                    violet: "color:#8a2be2;font-size:16px;"
                };

                if (typeof console === "object" && console.log && typeof console.log === "function") {
                    if (isUA('chrome') && !isUA('edge')) {
                        console.log(
                            "%c _      _____  _____  _____  _____   _____          _____                          _____ \n" +
                            "%c| |    |  _  ||_   _||_   _||  ___| |  _  |        |_   _|                        / __  \\ \n" +
                            "%c| |    | | | |  | |    | |  | |__   | | | | _ __     | |    ___   __ _  _ __ ___  `' / /' \n" +
                            "%c| |    | | | |  | |    | |  |  __|  | | | || '_ \\    | |   / _ \\ / _` || '_ ` _ \\   / /   \n" +
                            "%c| |____| |_| |  | |    | |  | |___  \\ \\_| || | | |   | |  |  __/| (_| || | | | | |./ /___ \n" +
                            "%c|_____/ |___/   \\_/    \\_/  \\____/   \\___/ |_| |_|   \\_/   \\___| \\__,_||_| |_| |_|\\_____/ \n",
                            color.red, color.orange, color.yellow, color.green, color.blue, color.violet
                        );
                    } else {
                        console.log(
                            " _      _____  _____  _____  _____   _____          _____                          _____ \n" +
                            "| |    |  _  ||_   _||_   _||  ___| |  _  |        |_   _|                        / __  \\ \n" +
                            "| |    | | | |  | |    | |  | |__   | | | | _ __     | |    ___   __ _  _ __ ___  `' / /' \n" +
                            "| |    | | | |  | |    | |  |  __|  | | | || '_ \\    | |   / _ \\ / _` || '_ ` _ \\   / /   \n" +
                            "| |____| |_| |  | |    | |  | |___  \\ \\_| || | | |   | |  |  __/| (_| || | | | | |./ /___ \n" +
                            "|_____/  |___/  \\_/    \\_/  \\____/   \\___/ |_| |_|   \\_/   \\___| \\__,_||_| |_| |_|\\_____/ \n"
                        );
                    }
                    console.log("\x3e \x3e \x3e http://43.202.24.20:8080/lotteon/\n");
                }

                function isUA(userAgent) {
                    return navigator.userAgent.toLowerCase().indexOf(userAgent) > -1;
                }
            })();
        </script>
    </head>

    <body>
        <!-- 카테고리/베스트 상품 영역 -->

        <section layout:fragment="content">

            <!-- 슬라이더 영역 -->

            <section class="slider">
                <ul>
                    <li th:each="banner:${banners}" th:if="${banner.blocation.equals('MAIN2')} and ${banner.bmanage == 1}">
                        <a href="#">
                            <img th:src="@{|/uploads/banner/${banner.bfile}|}">
                        </a>
                    </li>
                </ul>
            </section>
            <!-- 히트상품 영역 -->
            <section class="hit">
                <h3><span>히트상품</span></h3>

                <article th:each="product:${hitProduct}">
                    <a th:href="@{/product/view(pno=${product.pno})}">
                        <div class="thumb">
                            <img th:src="@{|/product/${product.cate}/${product.mainimg}|}" alt="상품이미지">
                        </div>
                        <h2>[[${product.pname}]]</h2>
                        <p>[[${product.info}]]</p>
                        <div class="org_price">
                            <del>[[${#numbers.formatInteger(product.price, 0, 'COMMA')}]]</del>
                            <span>[[${#numbers.formatInteger(product.discount, 0, 'COMMA')}]]%</span>
                        </div>
                        <div class="dis_price">
                            <ins>[[${#numbers.formatInteger(product.price * (1 - product.discount / 100.0), 0, 'COMMA')}]]</ins>
                            <span th:if="${product.deliprice == 0}" class="free">무료배송</span>
                        </div>
                    </a>
                </article>
            </section>
            <!-- 추천상품 영역 -->
            <section class="recommend">
                <h3><span>추천상품</span></h3>

                <article th:each="product:${recommendProduct}">
                    <a th:href="@{/product/view(pno=${product.pno})}">
                        <div class="thumb">
                            <img th:src="@{|/product/${product.cate}/${product.mainimg}|}" alt="상품이미지">
                        </div>
                        <h2>[[${product.pname}]]</h2>
                        <p>[[${product.info}]]</p>
                        <div class="org_price">
                            <del>[[${#numbers.formatInteger(product.price, 0, 'COMMA')}]]</del>
                            <span>[[${#numbers.formatInteger(product.discount, 0, 'COMMA')}]]%</span>
                        </div>
                        <div class="dis_price">
                            <ins>[[${#numbers.formatInteger(product.price * (1 - product.discount / 100.0), 0, 'COMMA')}]]</ins>
                            <span th:if="${product.deliprice == 0}" class="free">무료배송</span>
                        </div>
                    </a>
                </article>
            </section>
            <!-- 최신상품 영역 -->
            <section class="new">
                <h3><span>최신상품</span></h3>

                <article th:each="product:${newProduct}">
                    <a th:href="@{/product/view(pno=${product.pno})}">
                        <div class="thumb">
                            <img th:src="@{|/product/${product.cate}/${product.mainimg}|}" alt="상품이미지">
                        </div>
                        <h2>[[${product.pname}]]</h2>
                        <p>[[${product.info}]]</p>
                        <div class="org_price">
                            <del>[[${#numbers.formatInteger(product.price, 0, 'COMMA')}]]</del>
                            <span>[[${#numbers.formatInteger(product.discount, 0, 'COMMA')}]]%</span>
                        </div>
                        <div class="dis_price">
                            <ins>[[${#numbers.formatInteger(product.price * (1 - product.discount / 100.0), 0, 'COMMA')}]]</ins>
                            <span th:if="${product.deliprice == 0}" class="free">무료배송</span>
                        </div>
                    </a>
                </article>
            </section>
            <!-- 할인상품 영역 -->
            <section class="discount">
                <h3><span>할인상품</span></h3>

                <article th:each="product:${discountProduct}">
                    <a th:href="@{/product/view(pno=${product.pno})}">
                        <div class="thumb">
                            <img th:src="@{|/product/${product.cate}/${product.mainimg}|}" alt="상품이미지">
                        </div>
                        <h2>[[${product.pname}]]</h2>
                        <p>[[${product.info}]]</p>
                        <div class="org_price">
                            <del>[[${#numbers.formatInteger(product.price, 0, 'COMMA')}]]</del>
                            <span>[[${#numbers.formatInteger(product.discount, 0, 'COMMA')}]]%</span>
                        </div>
                        <div class="dis_price">
                            <ins>[[${#numbers.formatInteger(product.price * (1 - product.discount / 100.0), 0, 'COMMA')}]]</ins>
                            <span th:if="${product.deliprice == 0}" class="free">무료배송</span>
                        </div>
                    </a>
                </article>
            </section>
        </section>
        <button type="button" id="top">TOP</button>
    </body>
</html>